POSTGRES_DB=db name
POSTGRES_USER=bd user
POSTGRES_PASSWORD=db password
POSTGRESS_HOST=host
POSTGRES_PORT=port

SECRET_KEY=your secret key
CELERY_BROKER_URL=celery broker URL
CELERY_RESULT_BACKEND=celery result backend